.pomodoro {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.pomodoro__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pomodoro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pomodoro__timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.pomodoro__timer-label {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pomodoro__timer-time {
  font-size: 2.4rem;
  font-weight: bold;
}

.pomodoro__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pomodoro__button {
  margin-right: 10px;
}

.pomodoro__settings {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.header--white {
  background-color: #fff;
  color: #000;
}